.chevron {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    display: inline-block;
    height: 5px;
    margin-right: 5px;
    position: relative;
    transform: rotate(-90deg);
    vertical-align: middle;
    width: 10px;
}

.chevron-uncollapsed {
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.chevron:before, .chevron:after {
    border: 5px solid transparent;
    content: "";
    display: block;
    position: absolute;
}

.chevron-disabled:before {
    visibility: hidden;
}

.chevron:before {
    border-top-color: #5B5B5B;
    top: 0;
}

.chevron:hover {
    cursor: pointer;
}

    .chevron:hover:before {
        border-top-color: #000;
    }

.chevron:after {
    border-top-color: transparent;
    top: -2px;
}

#ko-context-hover {
    -moz-border-radius: 4px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 4px;
    background-color: #fff;
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    max-height: 600px;
    max-width: 800px;
    overflow: hidden;
    padding: 2px 5px 5px;
    position: absolute;
    white-space: nowrap;
    z-index: 99999;
	font-family: Verdana,sans-serif;
	font-size: 11px;
	line-height: 24px;
	color: #333;
}

#ko-context-hover-list {
    list-style: none;
    margin: 0;
    max-height: 500px;
    overflow: scroll;
    padding: 0;
}

.ko-context-hover-target-element {
    box-shadow: 0 0 0 2pt red !important;
}

#ko-context-hover #toggle-legend {
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 5px;
    padding-bottom: 5px;
    white-space: normal;
}

#ko-context-hover #toggle-live-context {
    display: inline-block;
    margin-right: 10px;
}

#ko-context-hover #toggle-follow {
    display: inline-block;
}

#ko-context-hover .toggle-live-context-key {
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #0A0A0A;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 7pt;
    padding: 0 4px;
	line-height: 20px;
}

#ko-context-hover .toggle-live-context-key-description {
    font-size: 8pt;
    margin-left: 5px;
}

#ko-context-hover ul li {
    background-color: #fff;
    color: #000;
    display: table;
    font-size: 10pt;
    padding: 2px 0 2px 2px;
    width: 100%;
}

    #ko-context-hover ul li ul {
        padding-left: 10px;
    }

        #ko-context-hover ul li ul li {
            list-style: none;
        }

.ko-context-hover-item {
    background-color: #add8e6 !important;
}

.ko-context-hover-item-descriptor {
    font-weight: 700;
    margin-right: 5px;
    vertical-align: middle;
}

.ko-context-hover-item-editable {
    vertical-align: middle;
	line-height: 24px;
	padding: 0 4px;
}

.ko-context-hover-item-toggleable {
    vertical-align: middle;
	line-height: 24px;
	width: 13px;
	height: 13px;
	padding: 0 !important;
	margin: 0 !important;
	position: relative;
	top: -1px;
	overflow: hidden;
}

.ko-context-hover-item-descriptor-clickable {
    color: #007a0e !important;
    cursor: pointer;
    text-decoration: underline;
}

.ko-context-hover-item-button {
    display: inline-block;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
    width: 12px;
}

.ko-context-hover-item-button-console {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTI0IDB2MjRIMFYwaDI0ek0xMiAyMC44aDkuNnYtNC4zSDEydjQuM3ptLTkuMi0xLjNsOC01LjhWOS42bC04LTUuOHY0LjNMOCAxMS43bC01LjIgMy42djQuMnoiLz48L3N2Zz4=);
}

.ko-context-hover-item-value {
    color: #000;
    vertical-align: middle;
}

label.ko-context-hover-item-value {
	display: inline-block;
	padding-left: 15px;
	text-indent: -15px;
	margin: 0;
}

.ko-context-hover-item-button:hover {
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.5);
    box-shadow: 0 2px 3px rgba(0,0,0,.5);
    cursor: pointer;
}

#ko-context-hover-target-element {
	background-color: #000;
	padding: 0 4px 0 4px;
	font-weight: bold;
}

#ko-context-hover-target-element-tag {
	color: #00b7ff;
}

#ko-context-hover-target-element-name {
	color: #ffffff;
}

#ko-context-hover-target-element-id {
	color: #00ff1d;
}

#ko-context-hover-target-element-class-list {
	color: #dd6cff;
}

.display-none {
    display: none;
}

